* {
  box-sizing: border-box;
}
/* added body cotainer-fluid and footer css to make it stick to bottom of screen without overlapping content*/
/*Elements*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  color: black !important;
}
/*Classes*/
.container-fluid {
  flex: 1;
  padding-bottom: 100px; /* Ensure space for footer */
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center; /* Center align text */
  font-size: 22px;
}
/*Id*/
#searchBtn {
  background-color: #bdbdbd;
}
#adoption-links {
  border: 5px solid #6699cc;
  border-radius: 5%;
}

#ballon {
  height: 70px;
  width: 70px;
}

#para {
  height: 68px;
  width: 158px;
}
/*Type*/
a,
.footer {
  color: black !important;
}
nav.nav,
footer {
  background-color: #003b6d;
}
/* [type="button"] {
  color: #676767;
} */
/*Psuedo Selectors*/
nav > button > a:hover,
#pet-btn:hover {
  color: white !important;
}

button[class="btn"]:hover,
#pet-btn:hover {
  background-color: #6699cc;
}
.active-link {
  background-color: #6699cc !important;
}

/* button[class="btn"]:active,
div[class="btn-group"]:active {
  background-color: #6699cc !important;
} */
/* Primary colors:
Midnight Blue - #003B6D
Blue Sky- #6699CC

Secondary colors:
Dim gray - #676767
Silver- #BDBDBD */
